<div class="container-fluid">
<h3>Blogs</h3>
<!-- <a class="" href="#" role="button">Blogs</a> -->
<button class="btn btn-primary" type="submit">Blogs</button>
<button class="btn btn-light" type="submit">webinars</button>
<button class="btn btn-light" type="submit">Enterprise</button>
<button class="btn btn-light" type="submit">Prodcasts</button>
<button class="btn btn-light" type="submit">White Papers</button>
<button class="btn btn-light" type="submit">Case Studies</button>
</div>


 <div class="card-group p-4 m-2">
    <div class="card">
      <img class="card-img-top" src="/assets/s1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Reasoning Ability</h5>
        <p class="card-text">Check your reasoning abilities.</p>
        <p>Discover the top traits that<br>help you excel and determine
        <br> your work fit.</p>

        <div class="card-body" style="display: inline-block;" >
            <a href="#" class="card-link">Read More ></a>    
        
        <p class="card-text_1"><small class="text-muted"> 30 mins </small></p>
      </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="/assets/s2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Personality Assessment</h5>
        <p class="card-text">Discover the top traits that help you excel and determine your work fit.<br>Check your reasoning abilities.</p>
        <div class="card-body" style="display: inline-block;" >
          <a href="#" class="card-link">Read More ></a>    
      
      <p class="card-text_1"><small class="text-muted"> 30 mins </small></p>
    </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="/assets/s3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cope Inventory</h5>
        <p class="card-text">Discover your communication style! Really usefu for teams.<br>Check your reasoning abilities.</p>
        <div class="card-body" style="display: inline-block;" >
          <a href="#" class="card-link">Read More ></a>    
      
      <p class="card-text_1"><small class="text-muted"> 30 mins </small></p>
    </div>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/s4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Entrepreneurial Personality</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <div class="card-body" style="display: inline-block;" >
            <a href="#" class="card-link">Read More ></a>    
        
        <p class="card-text_1"><small class="text-muted"> 30 mins </small></p>
      </div>
        </div>
      </div>
      
  </div>

  <!-- <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
